name: Build and Deploy Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: crystal-lang/install-crystal@v1
      - run: |
          sudo apt-get install -y lld
          make wasm-build
      - uses: actions/upload-pages-artifact@v4
        with:
          path: web

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/deploy-pages@v4
